body {
  background: #fff0f5;
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
}

.carta {
  max-width: 400px;
  margin: auto;
  background: white;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

img {
  width: 100%;
  border-radius: 10px;
  display: none;
}

button {
  background: #ff5c8a;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}

p {
  margin-top: 15px;
  display: none;
  }
