body {
  margin: 0;
  padding: 0;
  background: linear-gradient(180deg, #5a189a, #240046);
  font-family: Arial, sans-serif;
  color: white;
  text-align: center;
}

.container {
  max-width: 700px;
  margin: auto;
  padding: 20px;
}

img, video {
  max-width: 100%;
  border-radius: 16px;
  margin-bottom: 20px;
}

.carta {
  background: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 16px;
  font-size: 18px;
  line-height: 1.6;
  }
